/* Contenedor general del diagnóstico */
.diagnostico-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); /* Altura completa menos navbar y footer */
    background-color: #f9f9f9;
    padding: 20px;
    box-sizing: border-box; /* Para evitar problemas de margen o padding */
    width: 100%; /* El contenedor ocupa todo el ancho */
}