/* global.css */

/* Aseguramos que el HTML y el Body tengan altura completa */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Contenido dinámico de la página */
.content {
    flex: 1; /* El contenido ocupa el espacio restante entre el Navbar y el Footer */
    display: flex;
    flex-direction: column;
}
