/* Mejoras de Responsividad globales */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0 20px;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }

    .formulario {
        width: 100%;
        margin: 20px 0;
    }

    .hero h1 {
        font-size: 2.8rem;
    }

    .hero .btn {
        font-size: 1.1rem;
        padding: 12px 25px;
    }

    .diagnostico .pregunta {
        padding: 20px;
    }

    .resultados .btn {
        padding: 12px 25px;
    }
}

.page {
    transition: opacity 0.5s ease-in-out;
    height: 100%;
    overflow: hidden; /* Para evitar el corte */
}
